<a href="https://colab.research.google.com/github/brian80122/traffic_analytic/blob/master/thesis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# data source https://data.gov.tw/dataset/164744

In [1]:
from sklearn import datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [3]:
path="https://raw.githubusercontent.com/brian80122/traffic_analytic/master/data/11205.csv"
data=pd.read_csv(path)

In [4]:
data

,年,月,日,時,分,縣市,區,死,受傷,2-30,...,車輛撞擊部位其他,肇事因素個別,肇事因素主要,肇事逃逸,職業,旅次目的,車種,GPS緯度,GPS經度,事故類別
0,2023,5,1,0,5,臺中市,西屯區,0,1,0,...,NaN,8.0,8.0,1.0,1.0,9.0,C03,120.642998,24.176988,2
1,2023,5,1,0,9,臺中市,北區,0,0,0,...,NaN,23.0,NaN,1.0,21.0,NaN,C03,120.677084,24.155506,3
2,2023,5,1,0,10,臺中市,清水區,0,1,0,...,NaN,6.0,6.0,1.0,5.0,5.0,B03,120.575436,24.269143,2
3,2023,5,1,0,37,臺中市,西屯區,0,1,0,...,NaN,43.0,43.0,1.0,22.0,8.0,B01,120.646416,24.165016,2
4,2023,5,1,0,46,臺中市,東區,0,0,0,...,NaN,23.0,NaN,1.0,3.0,NaN,C03,120.694477,24.127043,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11984,2023,5,31,22,50,臺中市,大里區,0,0,0,...,NaN,16.0,NaN,1.0,22.0,NaN,C03,120.687242,24.095523,3
11985,2023,5,31,23,1,臺中市,西屯區,0,0,0,...,NaN,43.0,NaN,1.0,NaN,NaN,B02,120.648145,24.171703,3
11986,2023,5,31,23,5,臺中市,龍井區,0,1,0,...,NaN,44.0,44.0,1.0,22.0,9.0,C03,120.573238,24.189343,2
11987,2023,5,31,23,14,臺中市,太平區,0,0,0,...,NaN,44.0,19.0,1.0,22.0,NaN,C03,120.712125,24.153201,3
11988,2023,5,31,23,55,臺中市,北屯區,0,1,0,...,NaN,23.0,23.0,1.0,21.0,8.0,B01,120.727142,24.166759,2

Warning: Total number of columns (50) exceeds max_columns (20) limiting to first (20) columns.

In [29]:
filter_data = data.drop(columns=['縣市','區','當事者區分','車種'])
filter_data = filter_data[filter_data['天候'].notna()]
unique_values = filter_data['天候'].drop_duplicates()

filter_data = filter_data[["天候","死"]]
print(filter_data)

        天候  死
0      8.0  0
1      8.0  0
2      8.0  0
3      8.0  0
4      8.0  0
...    ... ..
11984  8.0  0
11985  8.0  0
11986  8.0  0
11987  8.0  0
11988  8.0  0

[11328 rows x 2 columns]

In [30]:




# 假設數據集中有特徵列 X 和目標列 y
X = filter_data.drop('天候', axis=1)
y = filter_data['死']

# 將數據集分成訓練集和測試集
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 創建決策樹模型
model = DecisionTreeClassifier()

# 使用訓練數據訓練模型
model.fit(X_train, y_train)

# 使用測試數據進行預測
y_pred = model.predict(X_test)

# 計算準確率
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.999558693733451